<div class="container registro2 my-3" id="#myTable">
  <h2>Editing Sesion Colegio</h2>

  <%= render 'form', sesion_colegio: @sesion_colegio %>

  <%= link_to 'Show', @sesion_colegio %> |
  <%= link_to 'Back', paciente_tratamiento_sesion_colegios_path(@sesion_colegio.tratamiento, @tratamiento) %>
</div>
