<div id="banner">
  <h1>Respalda tus consultas</h1>
</div>



<section id="about" class="container text-center my-5">
  <h2 class="display-3 font-weight-bold my-4">Que hacemos?</h2>
  <p class="my-4">Trabajamos con personas de distintas areas de la salud, mayormente relacionadas a los niños.</p>
  <p>Puedes entrar a nuestra pagina de contacto y enviarnos cualquier tipo de duda.</p>

  <div class="row">
    <div class="col-md-4">
      <i class="fas fa-database fa-3x my-3"></i>
      <h3 class="my-3">Respaldo Digital</h3>
      <p class="my-3">No gastes mas hojas, aqui podras guardar el detalle de tus sesiones de forma sencilla y limpia, con posibilidades de poder editar la informacion si es que te equivocas.</p>
    </div>
    <div class="col-md-4">
      <i class="fas fa-laptop fa-3x my-3"></i>
      <i class="fas fa-mobile-alt fa-3x my-3"></i>
      <h3 class="my-3">Facil acceso</h3>
      <p class="my-3">Vas a poder tener acceso a tus pacientes tanto en tu computador como en el telefono de forma sencilla, haciendo mas el seguimiento de sus sesiones.</p>
    </div>
    <div class="col-md-4">
      <i class="far fa-clock fa-3x my-3"></i>
      <h3 class="my-3">Gana Tiempo</h3>
      <p class="my-3">Ya no destines gran parte del tiempo a buscar informacion de tus pacientes en hojas y hojas de tus cuadernos, accede a ellos mediante un lick..</p>
    </div>
  </div>
</section>
<section class="container my-5 pago">
  <h2 class="display-4 font-weight-bold my-4">Prueba el sistema por $5us al mes.</h2>
  <p class="text-center">Recuerda enviar el comprobante en la pagina de contacto para la activacion de tu cuenta.</p>
  <%= link_to "Pagar en PayPal", pre_pay_billings_path, class: 'btn btn-success float-right'%>

</section>
