<table class="table table-responsive table-bordered">
   <thead>
       <tr>
           <th>Niveles de desempeño <br></br> Edad</th>
           <th>Normal</th>
           <th>Riesgo</th>
           <th>Déficit</th>
       </tr>
   </thead>
   <tbody>
       <tr>
           <td class="text-center">3.0 - 3.11 años</td>
           <td><h6> N° de PSF</h6><hr></hr>0 a 23 <br></br>(prom.14)</td>
           <td><h6> N° de PSF</h6><hr></hr>0 a 23</td>
           <td><h6> N° de PSF</h6><hr></hr>0 a 23 <br></br>(prom.14)</td>
       </tr>
       <tr>
           <td>4.0 - 4.11 años</td>
           <td><h6> N° de PSF</h6><hr></hr>0 a 23 <br></br>(prom.14)</td>
           <td><h6> N° de PSF</h6><hr></hr>0 a 23</td>
           <td><h6> N° de PSF</h6><hr></hr>0 a 23 <br></br>(prom.14)</td>
       </tr>
       <tr>
           <td>5.0 - 5.11 años</td>
           <td><h6> N° de PSF</h6><hr></hr>0 a 23 <br></br>(prom.14)</td>
           <td><h6> N° de PSF</h6><hr></hr>0 a 23</td>
           <td><h6> N° de PSF</h6><hr></hr>0 a 23 <br></br>(prom.14)</td>
       </tr>
       <tr>
           <td>6.0 - 6.11 años</td>
           <td><h6> N° de PSF</h6><hr></hr>0 a 23 <br></br>(prom.14)</td>
           <td><h6> N° de PSF</h6><hr></hr>0 a 23</td>
           <td><h6> N° de PSF</h6><hr></hr>0 a 23 <br></br>(prom.14)</td>
       </tr>
   </tbody>
</table>
