<table class="table table-responsive table-bordered">
   <thead>
       <tr>
           <th>Niveles de desempeño <br></br> Edad</th>
           <th>Normal</th>
           <th>Riesgo</th>
           <th>Déficit</th>
       </tr>
   </thead>
   <tbody>
       <tr>
           <td class="text-center">3.0 - 3.11 años</td>
           <td><h6> N° de PSF</h6><hr></hr>0 a 42 <br></br>(prom.27)</td>
           <td><h6> N° de PSF</h6><hr></hr>43 a 57</td>
           <td><h6> N° de PSF</h6><hr></hr>58 a + <br></br>(3° D.E 72)</td>
       </tr>
       <tr>
           <td>4.0 - 4.11 años</td>
           <td><h6> N° de PSF</h6><hr></hr>0 a 23 <br></br>(prom.13)</td>
           <td><h6> N° de PSF</h6><hr></hr>24 a 33</td>
           <td><h6> N° de PSF</h6><hr></hr>34 a + <br></br>(3° D.E 43)</td>
       </tr>
       <tr>
           <td>5.0 - 5.11 años</td>
           <td><h6> N° de PSF</h6><hr></hr>0 a 14 <br></br>(prom.8)</td>
           <td><h6> N° de PSF</h6><hr></hr>15 a 21</td>
           <td><h6> N° de PSF</h6><hr></hr>22 a + <br></br>(3° D.E 27)</td>
       </tr>
       <tr>
           <td>6.0 - 6.11 años</td>
           <td><h6> N° de PSF</h6><hr></hr>0 a 10 <br></br>(prom.5)</td>
           <td><h6> N° de PSF</h6><hr></hr>11 a 15</td>
           <td><h6> N° de PSF</h6><hr></hr>16 a + <br></br>(3° D.E 20)</td>
       </tr>
   </tbody>
</table>
