<div class="container">
  <h2>Test Exploratorio de gramatica Española</h2>
  <h3>Subprueba receptiva</h3>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Percentil <br> Edad </th>
        <th>10</th>
        <th>25</th>
        <th>50</th>
        <th>75</th>
        <th>90</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>3.0 - 3.11</td>
        <td>22 ptos.</td>
        <td>25 ptos.</td>
        <td>30 ptos.</td>
        <td>33 ptos.</td>
        <td>36 ptos.</td>
      </tr>
      <tr>
        <td>4.0 - 4.11</td>
        <td>27 ptos.</td>
        <td>30 ptos.</td>
        <td>33 ptos.</td>
        <td>35 ptos.</td>
        <td>38 ptos.</td>
      </tr>
      <tr>
        <td>5.0 - 5.11</td>
        <td>32 ptos.</td>
        <td>34 ptos.</td>
        <td>38 ptos.</td>
        <td>41 ptos.</td>
        <td>43 ptos.</td>
      </tr>
      <tr>
        <td>6.0 - 6.11</td>
        <td>35 ptos.</td>
        <td>38 ptos.</td>
        <td>41 ptos.</td>
        <td>42 ptos.</td>
        <td>46 ptos.</td>
      </tr>
      <tr>
        <td>7.0 - 7.11</td>
        <td>35 ptos.</td>
        <td>38 ptos.</td>
        <td>42 ptos.</td>
        <td>43 ptos.</td>
        <td>45 ptos.</td>
      </tr>
    </tbody>
  </table>
  <br>
  <br>
  <h2>Test Exploratorio de gramatica Española</h2>
  <h3>Subprueba expresiva</h3>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Percentil <br> Edad </th>
        <th>10</th>
        <th>25</th>
        <th>50</th>
        <th>75</th>
        <th>90</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>3.0 - 3.11</td>
        <td>5 ptos.</td>
        <td>9 ptos.</td>
        <td>15 ptos.</td>
        <td>19 ptos.</td>
        <td>24 ptos.</td>
      </tr>
      <tr>
        <td>4.0 - 4.11</td>
        <td>10 ptos.</td>
        <td>17 ptos.</td>
        <td>20 ptos.</td>
        <td>24 ptos.</td>
        <td>30 ptos.</td>
      </tr>
      <tr>
        <td>5.0 - 5.11</td>
        <td>22 ptos.</td>
        <td>24 ptos.</td>
        <td>31 ptos.</td>
        <td>34 ptos.</td>
        <td>36 ptos.</td>
      </tr>
      <tr>
        <td>6.0 - 6.11</td>
        <td>25 ptos.</td>
        <td>31 ptos.</td>
        <td>37 ptos.</td>
        <td>40 ptos.</td>
        <td>43 ptos.</td>
      </tr>
      <tr>
        <td>7.0 - 7.11</td>
        <td>35 ptos.</td>
        <td>37 ptos.</td>
        <td>40 ptos.</td>
        <td>42 ptos.</td>
        <td>44 ptos.</td>
      </tr>
    </tbody>
  </table>
</div>
